@model IEnumerable<Stock.Models.PurchaseInvoice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BroughtId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.When)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShippedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOnStock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BroughtId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.When)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckedId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsOnStock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
